body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

#search {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  box-shadow: #222;
}

.cards {
  display: grid;
  gap: 20px;
}

.card {
  padding: 20px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
